# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.swp

# Logs / runtime
*.log
.tmp/

# Roblox local
*.rbxlx.lock
*.rbxl.lock
